<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include Bootstrap CSS and any other required stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-pzjw6f+og2uM2rRUf1m2kOjcTck6N5l3S6t6IlC3rP9z6e0tWYOOYSXhqDPbjK4KB1CQHJt+we86W5K6DDK3Bw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <!-- sidebar.html -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <!-- Section 1: App -->
            <li class="nav-item">
                <a class="nav-link active" href="/portfolio_builder/">
                    <i class="fa fa-home"></i> App
                </a>
            </li>
            <!-- Section 2: Settings -->
            <li class="nav-item">
                <a class="nav-link" href="/settings/">
                    <i class="fa fa-cog"></i> Settings
                </a>
            </li>
        </ul>
    </div>
</nav>
    <!-- Include Bootstrap JS and any other required scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
